@import './materialize';

// Vars
$header-bg: url(../img/pattern.png);
$header-height: 300px;

// set-text-color function
@function set-text-color($color){
  @if(lightness($color) > 50){
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

body {
  background-color: $primary-color;
  color: set-text-color($primary-color);

}

// Header 
.main-header {
  background: $header-bg;
  height: $header-height;
  h2{
    margin: 0;
    padding-top: 30px;
  }
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.card-content {
  color: $primary-color;
}

.page-footer {
  background: $secondary-color;
    .footer-copyright {
      background: $secondary-color-light;
    }
}
.modal {
  .modal-content,
  .modal-footer {
    color: #333;
  }
}

.row-1,
.row-2,
.row-3{
  opacity: 0;
}